__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
env/
venv/
ENV/
logs/
*.sqlite
.ipynb_checkpoints/
.DS_Store
.idea/
.vscode/
*.egg-info/
*.log

CPIs/
tests/reports/
simulator/tests/spin/output/time_steps/