lark~=1.2.2
pydot~=3.0.2
jsonschema~=4.23.0
ipython~=8.32.0
numpy~=2.1.2
graphviz~=0.20.3
pandas~=2.2.3
fastapi~=0.115.4
pydantic~=2.9.2
openai~=1.63.2
langchain~=0.3.19
langchain_openai
langchain-anthropic
uvicorn~=0.34.0
pillow~=11.0.0
langchain-openai~=0.3.6
langchain-core~=0.3.35
redis~=5.2.0
requests~=2.32.3
overrides>=7.4
pm4py~=2.7.10
# GUI Dependencies
dash~=2.18.2
dash-bootstrap-components~=1.6.0
dash_split_pane~=1.0.0
dash_iconify~=0.1.2
pony~=0.7.19
anytree~=2.13.0
pydantic-settings~=2.10.1
